* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: url("backgroundimage.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  height: 100%;
  width: 100%;
}
.navbar {
  background-color: "red";
}
.sub-container {
  width: 98px;
  height: 60px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  padding-left: 30px;
  padding-top: 29px;
}
.con {
  width: 315px;
  height: 225px;
  right: 500px;
  top: 175px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 225px;
  color: #ffffff;
}
.des-Text {
  width: 571.43px;
  height: 87.86px;
  left: 240px;
  top: 346px;
  bottom: 359px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 27spx;
  letter-spacing: 1px;

  color: #ffffff;
}
.book-button {
  align-items: center;
  font-size: 15px;
  padding: 15px 15px;
  text-align: center;
  justify-content: center;
  width: 240px;
  height: 62px;
  left: 240px;
  top: 425px;
  color: lightgreen;
  background: #ffffff;
  border-radius: 10px;
}
header {
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header.logo {
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
  color: #fff0f9;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
  background-color: #111;
}
